@font-face {
   font-family: 'Source Serif Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Source Serif Pro';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/SusanLyons/Dropbox/Susan%20Lyons/Women%20in%20Measurement/Website/fonts/Source Serif Pro/900italic.ttf') format('truetype');
}
